html {
	min-width: 1000px;
}
#phone {
	position:fixed;
	left:50%;
	top: 50%;
	transform:translate(-50%, -50%);
	height:350px;
	width:250px;
	border-bottom: 70px solid #223;
	border-top: 60px solid #223;
	border-left: 10px solid #223;
	border-right: 10px solid #223;
	border-radius: 20px;
	background-color: #555;
}

#shadow {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-40%, -45%);
	width:280px;
	height:480px;
	background-color: #833;
	border-radius:25px;
}

#speaker {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-25px, -215px);
	width:50px;
	height:10px;
	background-color: #666;
	border-radius:25px;
}

#cam1 {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-110px, -225px);
	width:25px;
	height:25px;
	background-color: #444;
	border-radius:50%;
}

#cam2 {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-102.5px, -217.5px);
	width:10px;
	height:10px;
	background-color: #8a8;
	border-radius:50%;
}

#topButton {
	height: 10px;
	width: 50px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform:translate(50px, -250px);
	background: #5ac;
	border: none 0;
	border-radius: 2px;
}

#back {
	position: fixed;
	height: 50px;
	width:50px;
	left: 50%;
	top: 50%;
	transform:translate(-50%, 180px);
	background: rgba(100, 100, 100, .5);
	border: 5px solid #66d;
	border-radius: 50%;
}

.app {
	position: fixed;
	height: 90px;
	width: 90px;
	top: 50%;
	left: 50%;
	border: none 0;
	border-radius: 35px;
	color: #dee;
	text-align: center;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	font-size: 18px;
}

#showImages {
	background: #fb0;
	transform:translate(10px, -110px);
	color: #34d;
	border: 2px solid #34d;
}

#map {
	background: #093;
	transform:translate(-105px, 10px);
	color: #fdd;
	border: 2px solid #fc3;
}

#info {
	background: #000;
	transform:translate(-105px, -110px);
	border: 2px solid #8ac;
}

#contact {
	background: #52d;
	transform:translate(10px, 10px);
	border: 2px solid #662;
}

#next {
	position:fixed;
	top:50%;
	left:50%;
	height:35px;
	width:60px;
	transform:translate(50px, 120px);
	color: #456;
	font-size:20px;
	background: #db7;
	border: 4px solid #979;
	border-radius:20px;
	
}

#infoText {
	position:fixed;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	top:50%;
	left:50%;
	color: #33e;
	transform:translate(-50%,-50%);
}

#formResponse {
	position: fixed;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	top:50%;
	left:50%;
	color: #0aa;
	text-align:center;
	transform:translate(-50%,-50%);
}

html {
	background: #d76;
}
body, p, {
	font-size:16px;
	color: #bbb;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}
form {
	position: fixed;
	width: 200px;
	left: 50%;
	top: 50%;
	transform:translate(-115px, -155px);
	padding: 10px;
	border: 5px solid #888;
	border-radius: 15px;
	color: #d55;
	background-color: #8dd;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
}

input {
	font-size: 16px;
	width: 185px;
	padding: 5px;
	border: 2px solid #aaa;
	border-radius: 5px;
}

input[type="submit"] {
	font-size: 14px;
	padding: 5px 15px;
	background: #d55;
	color: #8dd;
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	border: 0 none;
}
textarea {
	width: 185px;
	height: 42px;
	font-size: 16px;
	padding: 5px;
	border: 2px solid #aaa;
	border-radius: 5px;
}

#disclaimer {
	font-size: 14px;
	color: #d55;
}
#spacer {
	position:fixed;
	height:50px;
}
footer {
	position: fixed;
	text-align:center;
	z-index: 3;
	bottom: 20px;
	left:50%;
	transform:translate(210px,0);
	
	font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
	color:#24a;
}
